{% block footer %}
<aside class="style3" class="style14">
<a class="style14" onclick="sub_menu1()" title="Présentation du site">Accueil  -</a>
<a class="style14" onclick="sub_menu2()"title="Petits chevaux" > Petits chevaux -</a>
<a class="style14" onclick="sub_menu3()" title="Mots croisés" > Mots croisés -</a>
<a class="style14" onclick="sub_menu4()" title="Memory" > Memory -</a>
<a class="style14" onclick="sub_menu8()" title="Mots mélés" > Mots mélés -</a>
<a class="style14" onclick="sub_menu12()" title="Diverses activités" > Divers -</a>
<a class="style14" onclick="sub_menu7()" title="Accès VIP" > Accès VIP</a>
</aside><br>
<footer class="style4">SoluceApp &#x00AE; Copyright - <a href="https://portefolio.soluceapp.com" target="main">Monsieur Vervisch</a> - 2023</footer>

{% endblock %}