{% block footer %}

<footer  class="style4" >SoluceApp &#x00AE; Copyright - <a href="https://portfolio.soluceapp.com" style="color: #FFFFFF" target="main">Monsieur Vervisch</a> - 2023 - <a class="style14" onclick="sub_menu34()" style="color: #FFFFFF"  title="Mentions légales" >Mentions Légales</a></footer>

{% endblock %}