{% block header %}

<header class="style1">
 <!-- Entête du site -->
<h2 class="style5">Mooc.soluceApp.com</h2>
<p class="style6">Massive open online course</p>

<!-- Liste des onglets -->

    <div class="container-flex-onglets">
    <div class="item-flex order5" class="style8" class="dropdown"><button onclick="sub_menu8()" class="dropbtn">Accès<br>accueil</button><div id="myDropdown6" class="dropdown-content"></div></div>    
    {% if app.user %}
    <div class="item-flex order5" class="style8" class="dropdown"><button onclick="sub_menu10()" class="dropbtn">Se<br>déconnecter</button><div id="myDropdown6" class="dropdown-content"></div></div>
    {%else%}
    <div class="item-flex order7" class="style8" class="dropdown"><button onclick="sub_menu7()" class="dropbtn">Se<br>connecter</button><div id="myDropdown7" class="dropdown-content"></div></div></div>
    {%endif%} 

</header>
{% endblock %}