

{% extends 'base.html.twig' %} 


{% block body %}
<div   class="container-grid-maitre" > 
<header class="style1">

<!-- Entête du site -->
<h2 class="style5">SoluceApp</h2>
<p class="style6">Solution applicative de Monsieur Vervisch</p>

<!-- Liste des onglets -->
<div data-affiche_menux="{{path('route_menux')}}"></div>
<script>affichemenux();</script>
</header>


<!-- Contenu informatif de la page -->
<main>
<section class="style2">
<h3 class="style11">Exercices d'Economie-Gestion</h3>

<article >
<div class="container-flex-article">

<!-- Explications principales -->

<div class="article-flex order8"><p class="style10">
&ensp; &ensp; Dans le cadre de votre formation en économie-gestion, je vous propose cette suite d'activités qui vous permettent d'obtenir des points
de participation. A chaque évaluation dont les devoirs maisons, vous disposez d'une note de participation sur 4 (ou plus). Vous gagnez 1 point de participation
par activité réussie. Il suffit d'envoyer par l'ENT votre photo de l'activité réussie. Au-delà de 4 points de participation, vous gagnez 0.25 points par activité.
Vous disposez aussi d'un accès VIP qui vous permet de réaliser un devoir maison de révision sur votre portable.   
</div>
<!-- Image d'illustration de la page -->


</div>
</article>

<!-- Information essentielle sous forme d'image -->

<div class="style23">
<iframe  class="style22"  src="https://www.youtube.com/embed/i5nxiiJh76k" ></iframe>
</div>
<br>
<!--
<div class="style23">
<iframe class="style22"  src="https://www.youtube.be/embed/7VFFia7BOQA" ></iframe>
</div>-->
<br><br>
</section>
</main>

<!-- Pied de page -->
<div data-affiche_menuy="{{path('route_menuy')}}"></div>
<script>affichemenuy();</script>


</div>
{% endblock %}