

{% extends 'base.html.twig' %} 


{% block body %}
<div   class="container-grid-maitre" > 
<!-- Contenu informatif de la page -->
<main>
<section class="style2">
<h3 class="style11"></h3>

<article >
<div class="container-flex-article">

<!-- Explications principales -->


<!-- Image d'illustration de la page -->





</div>
</article>
<!-- Information essentielle sous forme d'image -->


<br>
<!--
<div class="style23">
<iframe class="style22"  src="https://www.youtube.be/embed/7VFFia7BOQA" ></iframe>
</div>-->
<br><br>
</section>
</main>




</div>
{% endblock %}