

{% extends 'base.html.twig' %} 


{% block body %}


<div   class="container-grid-maitre" > 
<!-- Contenu informatif de la page -->
<main>
<section class="style2">
{% if app.user   %}{% else %} 
<div style="margin:20px"><div class="style25">
    Bienvenue sur le site de monsieur Vervisch<br>
    Merci de bien vouloir vous connecter.
</div></div>    {% endif %} 
<article >
<div class="container-flex-article">

<!-- Explications principales -->

{% if app.user and app.user.isVerified == true %}

<div class="article-flex order8"><p class="style10">
&ensp; &ensp; Dans le cadre de votre formation en économie-gestion, je vous propose cette suite d'activités qui vous permettent d'obtenir des points
de participation. A chaque évaluation dont les devoirs maisons, vous disposez d'une note de participation sur 4 (ou plus). Vous gagnez 1 point de participation
par activité réussie si vous êtes connecté. Au-delà de 4 points de participation, vous gagnez 0.25 points par activité.
</div>
<!-- Image d'illustration de la page -->


</div>
</article>

<!-- Information essentielle sous forme d'image -->

<div class="style23">
<iframe  class="style22"  src="https://www.youtube.com/embed/i5nxiiJh76k" ></iframe>
</div>
{% endif %} 
<br>

<br><br>
</section>
</main>




</div>
{% endblock %}