{% extends 'base.html.twig' %} 
{% block body %}
<div class="container-flex-onglets">
<div class="item-flex order1" class="style7" class="dropdown"><button onclick="sub_menu1()" class="dropbtn">Accueil et<br>présentation</button><div id="myDropdown1" class="dropdown-content"></div></div>
<div class="item-flex order2" class="style8" class="dropdown"><button onclick="sub_menu2()" class="dropbtn">Petits<br> chevaux</button><div id="myDropdown2" class="dropdown-content"></div></div>
<div class="item-flex order3" class="style8" class="dropdown"><button onclick="sub_menu3()" class="dropbtn">Mots<br>croisés</button><div id="myDropdown3" class="dropdown-content">	</div></div>		 
<div class="item-flex order4" class="style8" class="dropdown"><button onclick="sub_menu4()" class="dropbtn">Jeu du<br>memory</button><div id="myDropdown4" class="dropdown-content"></div></div>
<div class="item-flex order5" class="style8" class="dropdown"><button onclick="sub_menu5()" class="dropbtn">Mots<br> mélés</button><div id="myDropdown5" class="dropdown-content">
<a onclick="sub_menu8()" class="style12">Mots mélés</a><a onclick="sub_menu10()" class="style12">Album de musique</a><a onclick="sub_menu11()" class="style12">Court métrage</a></div></div>
<div class="item-flex order6" class="style8" class="dropdown"><button onclick="sub_menu6()" class="dropbtn">Autres<br> activités</button><div id="myDropdown6" class="dropdown-content">
			<a onclick="sub_menu12()" class="style12">Escape Game</a><a onclick="sub_menu13()" class="style12">Jeu vidéo</a><a onclick="sub_menu14()" class="style12">Vervischapp</a><a onclick="sub_menu15()" class="style12">Musée 3D</a></div></div>
<div class="item-flex order7" class="style8" class="dropdown"><button onclick="sub_menu7()" class="dropbtn">Connexion<br>VIP</button><div id="myDropdown7" class="dropdown-content"></div></div></div>


{% endblock %}