{% extends 'base.html.twig' %} 


{% block body %}



<div   class="container-grid-maitre" > 
<!-- Contenu informatif de la page -->
<main>
<section class="style2">

<div style="margin:20px"><div class="style25">
<h1>Accès aux anciens cours</h1>

<br>
{% for scenario in classe.scenarios %}
        <li>{{ scenario.nbscenario|e }} : {{ scenario.NameScenario|e }}
        <img src={{asset('images/scenario/' ~scenario.lienimage)}} width ="100%"></li>
{% endfor %}



</div></div>
<article >
<div class="container-flex-article">
<br>

</div>
</article>



<br>


<br><br>
</section>
</main>




</div>
{% endblock %}