{% extends 'base.html.twig' %} 


{% block body %}



<div   class="container-grid-maitre" > 
<!-- Contenu informatif de la page -->
<main>
<section class="style2">

<div style="margin:20px"><div class="style25">

<br>
<form method="post" action="{{ path('app_profil_student') }}">

<div style="margin:20px">
    <h3 >Changer mon pseudo</h3>
    <br>
    <label for="pseudo">Nouveau pseudo &nbsp;</label>
    <input  type="text" name="pseudo" >
    <br><br>
  
    <button class=" btn btn-primary" type="submit">Valider</button>
    <br><br>
</div>
</form>



</div></div>
<article >
<div class="container-flex-article">
<br>

</div>
</article>



<br>


<br><br>
</section>
</main>




</div>
{% endblock %}