{% extends 'base.html.twig' %} 


{% block body %}



<div   class="container-grid-maitre" > 
<!-- Contenu informatif de la page -->
<main>
<section class="style2">

<div style="margin:20px"><div class="style25">
<h1>Mon profil {{app.user.pseudo}}</h1>

<br>
<!-- Explications principales -->
Mes points de participation sont de {{ app.user.points }}.
<br><br>
Je suis en {{ app.user.classe }}.
<br>
Je suis en {{ app.user.IdDomain.Namedomaine }}.
<br><br>
<input class="btn btn-primary" type="button" onclick="sub_menu38()" value="Changer mon pseudo"><br><br>
<input class="btn btn-primary" type="button" onclick="sub_menu39()" value="Accès aux cours de l'année">
<!-- Image d'illustration de la page -->



</div></div>
<article >
<div class="container-flex-article">
<br>

</div>
</article>



<br>


<br><br>
</section>
</main>




</div>
{% endblock %}