{% extends '@EasyAdmin/page/content.html.twig' %} 


{% block content %}
<head>
        <meta charset="UTF-8">
        <title>{% block title %}Mooc.soluceapp.com{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{asset('styles/app.css') }}">
            <link rel="icon" type="image/png" href="{{asset('images/favicon.png') }}">
            <link rel="shortcut icon" href="{{asset('images/favicon.ico') }}">
        {% endblock %}
</head>




<div style="margin:20px"><div class="style25">
<h3>Accès administration</h3>
    Bienvenue sur la section administration<br>
    de mooc.soluceapp.com, vous pouvez <br>
    modifier la base de donnée du mooc par<br>
    cette interface administrateur.
</div></div>

{% endblock %}