{% extends 'base.html.twig' %} 


{% block body %}



<div   class="container-grid-maitre" > 
<!-- Contenu informatif de la page -->
<main>
<section class="style2">

<div style="margin:20px"><div class="style25">
<h1>Questions et Petits Chevaux</h1>

</div></div>
<article >
<div class="container-flex-article">

<!-- Explications principales -->
<form method="post" action="{{ path('app_question') }}" class="style16">
    <p>
        <label for="id_scenario"><h2>Quel scénario désirez-vous valider ?</h2></label><br><br>
        <select name="id_scenario" id="id_scenario" required>
            <option value="" disabled selected>Choisissez un scénario</option>
            {% for scenario in scenarios %}
                <option value="{{ scenario.id }}">{{ scenario.nbScenario }} : {{ scenario.nameScenario }}</option>
            {% endfor %}
        </select>
    </p>
    <br>
    <p>
        <input type="submit" class="btn btn-primary btn-lg" name="valid_form" value="Accéder aux questions">
    </p>
    <br>

</form>


</div>
</article>



<br>


<br><br>
</section>
</main>




</div>
{% endblock %}
