{% extends 'base.html.twig' %} 


{% block body %}



<div   class="container-grid-maitre" > 
<!-- Contenu informatif de la page -->
<main>
<section class="style2">

<div style="margin:20px"><div class="style25">
<h1>Questions et Petits Chevaux</h1>

</div></div>
<article >
<div class="container-flex-article">

<!-- Explications principales -->

<form method="post" action="{{ path('app_question') }}" class="style16"> 
<br>
<p><label for="id_scenario">Quel numéro de scénario désirez-vous valider ? </label><br><br>
<input type="number"  name="id_scenario" min="1" max="30"></p><br>

<p><input type="submit" class="btn btn-primary btn-lg" name="valid_form" value="Accéder aux questions"></p><br>

{% for scenario in classe.scenarios %}
        <li>{{ scenario.nbscenario|e }} : {{ scenario.NameScenario|e }}</li>
{% endfor %}<br>
</form>




</div>
</article>



<br>


<br><br>
</section>
</main>




</div>
{% endblock %}
