{% extends 'base.html.twig' %} 


{% block body %}



<div   class="container-grid-maitre" > 
<!-- Contenu informatif de la page -->
<main>
<section class="style2">

<div style="margin:20px"><div class="style25">
<h1>Comptafacil</h1>
<br>
    Vous êtes connecté {{ app.user.pseudo }}  
{% if app.user and app.user.isVerified == false%}
<br>mais il faut valider sur votre boite mail<br>votre mail pour accéder aux activités
{%include "partials/_flash.html.twig"%}
{%elseif app.user and app.user.isVerified == true%}
<br>vous pouvez choisir une activité.
<br><br>Votre note est de : 
{% endif%}
</div></div>
<article >
<div class="container-flex-article">

<!-- Explications principales -->


<!-- Image d'illustration de la page -->





</div>
</article>
<!-- Information essentielle sous forme d'image -->


<br>
<!--
<div class="style23">
<iframe class="style22"  src="https://www.youtube.be/embed/7VFFia7BOQA" ></iframe>
</div>-->
<br><br>
</section>
</main>




</div>
{% endblock %}