{% extends 'base.html.twig' %} 


{% block body %}



<div   class="container-grid-maitre" > 
<!-- Contenu informatif de la page -->
<main>
<section class="style2">

<div style="margin:20px"><div class="style25">
    Vous êtes connecté {{ app.user.pseudo }},  
{% if app.user and app.user.isVerified == false%}
<br>mais il faut valider le compte par votre <br>boite mail pour accéder à la formation.<br>Cliquez deux fois ensuite sur les activités.
{%include "partials/_flash.html.twig"%}
{%elseif app.user and app.user.isVerified == true%}
<br>vous pouvez choisir une activité.
<br><br>Vos points de participation sont de  : {{ app.user.points }}
<br><br
{% endif%}
</div></div>
<article >
<div class="container-flex-article">

<!-- Explications principales -->


<!-- Image d'illustration de la page -->





</div>
</article>
<!-- Information essentielle sous forme d'image -->


<br>

<br><br>
</section>
</main>




</div>
{% endblock %}